<?xml version='1.0' encoding='utf-8'?>
<widget id="net.cawar.bookwar" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>bookwar</name>
    <description>
        Clash of Clans "Clan war base booking application"
    </description>
    <author email="mail@thesabbir.com" href="http://thesabbir.com">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="StatusBarBackgroundColor" value="#1976D2" />
    <feature name="StatusBar">
        <param name="ios-package" value="CDVStatusBar" onload="true"/>
    </feature>

</widget>
