md-list .md-button {
    color: inherit;
    font-weight: 500;
    text-align: left;
    width: 100%;
}

md-icon.md-default-theme.white {
    color: #ffffff;
}

.form-at form > .row {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.md-sidenav-left a {
    text-decoration: inherit;
    color: inherit;
}